<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>
ただいまの日時は<%= @time_now.strftime(" %Y/%m/%d %H:%M:%S ") %>です

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>Eメール</th>
      <th>パスワード</th>
      <th>電話番号</th>
      <th>コメント</th>
      <th>削除フラグ</th>
      <th colspan="3">コマンド</th>
      <th>コンテンツ</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.tel %></td>
        <td><%= simple_format(user.comment) %>
        <td><%= user.delete_flag %></td>
        <td><%= link_to '表示', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '破棄', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'コンテンツ', "/users/#{user.id}/contents" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ユーザー', new_user_path %>
