<p id="notice"><%= notice %></p>

<h1>マイクロポスト一覧</h1>

<table>
  <thead>
    <tr>
      <th>コンテンツ</th>
      <th>ユーザー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %>:<%= micropost.user.name %></td>
        <td><%= link_to '表示', micropost %></td>
        <td><%= link_to '編集', edit_micropost_path(micropost) %></td>
        <td><%= link_to '破棄', micropost, method: :delete, data: { confirm: 'よろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_micropost_path %>
